body {
    background-color: rgb(99, 135, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 70%;
}

.main-announcement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: auto;
    margin: 1%;
    background-color: none;
    padding: 6% 13%;
    font-weight: bold;
    background: none;
    border: 0;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

#HostButton {
    background-image: url("../imgs/hostbtn.webp");
    background-size: cover;
}

#JoinButton {
    background-image: url("../imgs/joinbtn.webp");
    background-size: cover;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

#RoomCode {
    border: 3px solid rgb(0, 0, 0);
    margin: 1%;
    font-size: 1.5rem;
    padding: 0.5%;
}

#GoButton {
    background-image: url("../imgs/joinbtn.webp");
    background-size: cover;
    padding: 2% 5%;
}
