body {
    background-color: rgb(99, 135, 214);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; 
}

.container {
    margin-top: 50px;
}

.logo {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#roomCodeTitle {
    margin-top: 20px;
}