.main-announcement{
    text-align: center;
    margin-top: -100px;
    justify-content: center;
}

.main-announcement h1{
    font-weight: bolder;
    font-size: 50px;
}

.main-announcement h4{
    margin-bottom: 25px;
}

.main-announcement a{
    width: 35%;
    border-radius: 12px;
    font-size: medium;
}