.login-container{
    justify-content: center;
    text-align: center;
}

.login-container h1{
    font-weight: bolder;
    font-size: 50px;
}

.login-box{
    display: block;
    justify-content: center;
    text-align: center;
}

.login-container .input-boxes{
    width: 50%;
    border-radius: 12px;
    margin-left: 24.3%;
}

.login-container label{
    margin-left: 24.3%;
}

.login-container .btn-interaction{
    width: 28%;
    text-align: center;
}

.select-container{
    justify-content: center;
    border-radius: 12px;
    width: 50%;
    align-self:center;
    margin-left: 23%;
}

.select-container select{
    margin-left: 0px;
    margin: 17px;
}