.body {
    overflow-y: ;
}

.container-user {
    background-color: white;
    position: relative;
    top: 25%;
    height: 70vh;
}

.center {
    position: relative;
    top: -15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-content {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}



