<nav class="navbar navbar-light navbar-expand bg-light justify-content-md-center justify-content-start">
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="../assets/images/blank-profile-picture.png" height="22" class="rounded-circle" id="profile-pic"></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="../pages/profile.html">Mi perfil</a></li>
      <li><a class="dropdown-item" href="#">2</a></li>
      <li><a class="dropdown-item" href="#">3</a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto text-md-center text-left">
      <li class="nav-item my-auto">
        <a class="nav-link navbar-brand d-md-inline" href="">SysHub</a>
      </li>

    </ul>
    <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
      <li>
        <a class="btn" id="new-proyect" type="button" href="../pages/create.html">
          <img src="../assets/images/plus-icon.png" height="22">
        </a>
      </li>
    </ul>
  </div>
</nav>